@font-face {
    font-family: 'typicons';
    src: url('../../fonts/typicons/typicons.eot');
    src: url('../../fonts/typicons/typicons.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/typicons/typicons.woff') format('woff'),
         url('../../fonts/typicons/typicons.ttf') format('truetype'),
         url('../../fonts/typicons/typicons.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}